.fondo{
    color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid #444;
    /*animation: girale 2s ease-in-out infinite;*/
}
.Button{

    flex-direction: flex-end;
    background-color: red;
    }

@keyframes girale{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
